@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/shared";

#cookie-info {
  position: fixed;
  top: -102px;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $light-gray;
  padding: 30px 0px;
  transition: all .3s ease;

  ._inner {
    max-width: 600px;
    margin: auto;
    display: flex;

    > i {
      margin: 3px 9px 0 0;
    }
  }

  span {
    font-size: 14px;
  }

  &.show {
    top: 0;
    transition: all .3s ease;
  }
}

#header-wrapper {

  ._top {
    background-color: $black;
    padding: 3px 0;

    .list {

      li {

        &:not(:last-child) {
          margin-right: 24px;
        }

        a {
          color: $white;
          font-size: 12px;
        }
      }
    }
  }

  #logo {
    width: 230px;
  }
  
  ._bottom {
    padding: 9px 0;

    #main-menu {
      
      li {
        padding: 0 24px;

        a {
          font-weight: 700;
          color: $dark-gray;
          transition: color .3s ease;

          &:hover {
            color: $orange;
            transition: color .15s ease;
          }
        }
      }
    }
    
    ._align {
      width: 230px;
    }
  }
}

#home-slider {
  
  .swiper-container {
    height: calc(100vh - 210px);

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
  }

  .slider-nav-wrap {
    background-color: $light-gray;
    padding: 50px 0;

    .slider-nav {

      ._title {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        cursor: pointer;

        ._top {
          display: flex;
          align-items: center;
          padding-bottom: 12px;

          ._name {
            flex-grow: 1;
            padding-left: 12px;
            font-weight: 700;
            overflow: hidden;
          }
        }

        .slide-progress {
          height: 2px;
          background-color: $mid-gray;
          position: relative;

          ._bar {
            position: absolute;
            height: 3px;
            width: 0;
            background-color: $orange;
            bottom: 0;
          }
        }
      }
    }
  }
}

#discover {
  padding: 145px 0 72px 0;

  .discover-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    ._title {
      font-weight: 700;
  
      span {
        color: $orange;
      }
    }
  
    a {
      color: $dark-gray;
      font-size: 12px;
      font-weight: 500;
      display: flex;
      align-items: center;

      ._icon {
        margin-left: 9px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.listing-item {

  ._image {
    position: relative;
    margin-bottom: 36px;

    img {
      border-radius: 7px;
    }

    ._location {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: 900;
      color: $white;
      padding: 0 3px 36px 3px;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background: transparentize($black, 0.75)
    }
  }

  ._details {

    ._duration {
      color: $orange;
      font-size: 12px;
      font-weight: 700;
    }

    ._name {
      font-weight: 700;
      margin-bottom: 12px;
      color: $ash;
    }

    ._info {
      font-family: $fontExtra;
      font-size: 12px;
      display: flex;

      ._price {
        position: relative;
        padding-right: 21px;

        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 2px;
          background: $ash;
          top: 0;
          right: 0;
        }
      }

      ._rating {
        padding-left: 21px;

        > span {
          margin-right: 6px;
        }
      }
    }

    ._link {
      margin-top: 21px;
      
      a {
        background-color: $white;
        padding: 6px 9px;
        font-size: 14px;
        transition: all .3s ease;
        color: $dark-gray;
        border: 1px solid $dark-gray;
        border-radius: 3px;

        &:hover {
          text-decoration: none;
          border: 1px solid $orange;
          background-color: $orange;
          color: $white;
          transition: all .15s ease;
        }
      }
    }
  }
}

#package-slider {
  overflow: hidden;

  .swiper-wrapper {
    padding-bottom: 72px;
  }

  ._nav {
    position: relative;

    .swiper-pagination {
      position: static;
      width: max-content;
      margin: auto;

      .swiper-pagination-bullet {
        margin: 0 6px;

        &.swiper-pagination-bullet-active {
          background: $dark-gray;
        }
      }
    }
    
    .package-slider-prev,
    .package-slider-next {
      position: absolute;
      top: 0;
    }
  }
}

#book-guide {
  
  .head {
    padding: 50px 0;
    background: $orange;
    color: #fff;
    font-size: 24px;
    line-height: 1.3;

    ._subtitle {
      font-weight: 700;

      span {
        color: $black;
      }
    }

    ._title {
      font-size: 51px;
      font-weight: 900;
      margin-bottom: 9px;
    }

    ._desc {
      font-size: 18px;
    }
  }

  #showBookForm { display: block }

  #hideBookForm {
    display: none;
    border: none;
    color: $white;
  }

  #book-form {
    position: relative;
    
    ._main {
      background: $orange-light;
      position: absolute;
      width: 100%;
      top: 0;
      max-height: 0;
      overflow: hidden;
      transition: all .3s ease .15s;
    }
    
    .form {
      padding: 80px 0;
      width: 580px;
      opacity: 0;
      transition: all .15s ease;

      .control-row {
        margin-bottom: 30px;

        input {
          text-align: center;
          font-size: 16px;
          padding: 12px;
        }
      }
    }
  }

  &.show {

    #showBookForm { display: none }
    #hideBookForm { display: block }

    #book-form {

      ._main {
        max-height: 680px;
        transition: all .15s ease;
  
        .form {
          opacity: 1;
          transition: all .15s ease .15s;
        }
      }
    }
  }
}

#places {
  background-color: $light-gray;
  
  #map-wrapper {
    height: 100vh;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .markers {
    padding: 30px 0;

    .fa-compass {
      color: $orange-flush;
      font-size: 49px;
      margin-bottom: 12px;
    }

    ._title {
      color: $orange-flush;
      font-size: 49px;
      font-weight: 900;
      line-height: 1.15;
    }
  }
}

#instagram {
  padding: 90px 0;

  ._head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    i {
      font-size: 49px;
      color: $orange-flush;
      margin-bottom: 12px;
    }

    div {
      font-family: $fontBrush;
      font-size: 35px;
      color: $orange-flush;
    }
  }

  .tag-list {

    .row {
      margin-left: -24px;
      margin-right: -24px;

      > div {
        padding-left: 24px;
        padding-right: 24px;
      }
    }

    .tag-box {
      position: relative;
      overflow: hidden;
      border-radius: 5px;

      .tag {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparentize(#000000, 0.85);
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: $fontBrush;
        top: 0;

        ._name {
          font-size: 30px;
        }
      }
    }
  }
}

#best-rates {
  background: $orange;
  padding: 45px 0;

  ._info {
    display: flex;
    flex-direction: column;
  }

  a {
    align-self: flex-start;
    width: 260px;
    padding: 12px 0;
    margin-top: 50px;
  }

  ._info {
    padding-right: 25%;
    color: $white;
    
    ._subtitle {
      font-size: 26px;

      span {
        color: #DDDDDD;
      }
    }

    ._title {
      font-size: 54px;

      span {
        color: $orange-gray;
      }
    }
  }
}

#brief {
  background: #ededed;
  padding: 30px 0;
  font-size: 12px;

  ._title {
    font-weight: 700;
    margin-bottom: 21px;
  }
}

#footer-wrapper {
  padding: 60px 0;

  ._left {
    width: 250px;
    font-size: 12px;
    margin-right: 250px;

    .company-icon {
      line-height: 22px;
      margin-bottom: 15px;
    }

    ._brief {
      margin-bottom: 21px;
      line-height: 22px;
    }

    #social-icons {
      margin-bottom: 21px;

      li {
        margin-right: 24px;
      }

      i {
        font-size: 15px;
        color: #686868;

        &:hover {
          color: $orange;
        }
      }
    }
  }

  ._right {
    flex: 1;

    .footer-list {
      padding-top: 48px;

      ._title {
        font-weight: 700;
        margin-bottom: 21px;
        font-size: 12px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 2px;

          a {
            color: #686868;
            font-size: 12px;
            position: relative;

            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 0;
              background: #ee987a;
              height: 2px;
              width: 0;
              transition: all .3s ease;
            }

            &:hover {
              text-decoration: none;

              &:after {
                width: 45px;
                transition: all .15s ease;
              }
            }
          }
        }
      }

      &:hover {

        ._title {
          color: $orange;
        }
      }
    }
  }
}

#info {
  padding: 90px 0;

  ._title {
    font-size: 48px;
    color: $black;
    font-weight: 900;

    span {
      color: $orange;
    }
  }

  ._desc {
    padding-top: 18px;
  }
}