$ash: #777777;
$black: #1d1d1b;
$dark-gray: #474747;
$mid-gray: #cfcfcf;
$light-gray: #f7f7f7;
$orange: #e03d05;
$orange-bright: #f9471e;
$orange-flush: #ff7752;
$orange-gray: #f9b1a0;
$orange-light: #ffdfd2;
$white: #fff;