@import "fonts";
@import "colors";

body {
  font-family: $fontMain;
  color: $dark-gray;
}

img {
  max-width: 100%;
}

:focus,
:active {
  outline: none !important;
}

.ellipsis-on-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
}

*[role="button"] {
  cursor: pointer;
}

ul {

  &.list {

    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    a {
      text-decoration: none;
    }
  }
}

.container {
  width: 100%;
  max-width: 1300px;

  &._small {
    max-width: 1500px;
  }

  &._mid {
    max-width: 1610px;
  }

  &._large {
    max-width: 1770px;
  }
}

._icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline;

  &._arrow_right {
    background-image: url("../../assets/icons/arrow-right.png");
    width: 13px;
    height: 13px;
  }
}

.row {

  &._listing {
    margin-left: -50px;
    margin-right: -50px;

    > div {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

.rating-stars {
  opacity: 0;
  display: inline-block;
  
  ._star {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url("../../assets/icons/star.png");
    
    &._empty {
      background-image: url("../../assets/icons/star-empty.png");
    }

    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  &.ready {
    opacity: 1;
    transition: all .15s ease;
  }
}

button,
a._link {
  background: none;
  text-align: center;
  border: 1px solid $white;
  border-radius: 5px;
  transition:  all .3s ease;

  &._primary {
    padding: 12px 42px;
    width: auto;
    font-size: 18px;
  }

  &._orange {
    background-color: $orange;
    color: $white;

    &:hover {
      background-color: $white;
      color: $orange;
      transition:  all .15s ease;
    }
  }

  &._full {
    width: 100%;
  }

  &._no_border {
    border: none;
  }
}

.form {

  .control-row {
    margin-bottom: 9px;

    input {
      width: 100%;
      border-radius: 5px;
      border: none;
    }
  }
}

.box {
  padding: 30px;
  background: #fff;
  box-shadow: 2px 6px 10px -6px transparentize(#000000, 0.64);
}

#banner {
  height: 530px;
  overflow: hidden;

  .swiper-wrapper {
    height: 100%;

    .swiper-slide {
      height: 100%;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: flex-end;
      padding-bottom: 50px;

      ._caption {
        color: $white;

        ._title {
          font-family: $fontBrush;
          font-size: 88px;
        }

        ._desc {
          width: 480px;
        }
      }
    }
  }
}

.overline {
  position: relative;

  &:before {
    position: absolute;
    width: 50px;
    height: 4px;
    background: $orange;
    top: -9px;
    left: 0;
    content: "";
  }
}